<div class="friendshipcircle-container">
  <!-- Contenedor de textos superiores -->
  <div class="text-section">
    <h1>Ubicación de los Círculos</h1>
    <h2>Visítanos</h2>
  </div>

  <!-- Contenedor Grid para el Mapa y los Botones -->
  <div class="grid-section">
    <!-- Sección del Mapa -->
    <div class="map-section">
      <iframe
        class="map-frame"
        frameborder="0"
        allowfullscreen
        allow="geolocation"
        src="//umap.openstreetmap.fr/es/map/circulos-de-amistad_1145049?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&editMode=disabled&moreControl=false&searchControl=false&tilelayersControl=false&embedControl=false&datalayersControl=false&onLoadPanel=none&captionBar=true&captionMenus=false&captionControl=false&locateControl=false&measureControl=false&editinosmControl=false&starControl=false"
      ></iframe>
    </div>

    <!-- Sección de Información y Botones -->
    <div class="info-section">
      <div class="info-item">
        <h3>Te esperamos los sábados</h3>
        <button class="action-button">Agregar al calendario</button>
      </div>
      <div class="info-item">
        <h3>Para más información</h3>
        <button class="action-button">Llámanos</button>
      </div>
      <div class="info-item">
        <h3>Página Oficial</h3>
        <button class="action-button">Comunidad Hosanna</button>
      </div>
    </div>
  </div>
</div>
